.tab-item {
  list-style-type: none;
}

.tab-btn {
  padding: 10px 15px;
  border: none;
  outline: none;
  font-family: 'Roboto';
  font-size: 20px;
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
}

.active-tab-btn {
  border-bottom: 5px solid #fec653;
  color: #fec653;
  font-weight: bold;
}
